.hc-title{
    text-align: center;
    margin-top: 60px;
}

.hc-grid{
    display: flex;
    justify-content: space-evenly !important;
    margin-top: 70px;
}

.hc-card{
    width: 270px;
    height: 170px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 10px 3px rgb(231, 230, 230);
}

.aw-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-bottom: 70px;
}



@media only screen and (min-width: 320px) and (max-width:  480px) {
    .hc-grid{
        display: flex;
        justify-content: space-evenly !important;
        margin-top: 70px;
    }

        
    .aw-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 70px;
        margin-left: 7px;
    }

    .hc-card{
        width: 150px;
        margin-left: 10px;
        height: 120px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px 3px rgb(231, 230, 230);
    }
    .i{
        width: 100px;
        margin-left: 10px;
        height: 120px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px 3px rgb(231, 230, 230);
    }
    .l{
        width: 100px;
        margin-left: 10px;
        height: 120px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px 3px rgb(231, 230, 230);
    }

    .hc-img{
        width: 80px;
        margin-left: -20px;
    }
    .hc-img2{
        width: 20px;
    }

    .aw-img{
        width: 75px;
        padding-top: 20px;
    }

    
}





@media only screen and (min-width: 481px) and (max-width:  768px) {
    .aw-img{
        width: 75px;
        padding-top: 20px;
    }

    .i{
        width: 200px;
        margin-left: 10px;
        height: 170px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px 3px rgb(231, 230, 230);
    }

    .l{
        width: 200px;
        margin-left: 10px;
        height: 170px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px 3px rgb(231, 230, 230);
    }

    .hc-img{
        width: 120px;
        margin-left: 0px;
    }
} 