.arrow{
    background-color: #112d5a;
    margin-left: 90%;
    padding: 10px 23px 20px 23px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    font-size: 30px;
    color: white !important;
}

.arro{
    color: white;
}


@media only screen and (min-width: 320px) and (max-width:  480px) {
    .arrow{
        background-color: #0e1d35;
        margin-left: 20px;
        padding: 13px 23px 22px 23px;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        font-size: 20px;
        color: white !important;
    }
    
}




@media only screen and (min-width: 481px) and (max-width:  768px) {
    .arrow{
        background-color: #0e1d35;
        margin-left: 40px;
        padding: 10px 23px 20px 23px;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        font-size: 30px;
        color: white !important;
    }
}


@media only screen and (min-width: 769px) and (max-width:  1024px) {
    .arrow{
        background-color: #0e1d35;
        margin-left: 40px;
        padding: 10px 23px 20px 23px;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        font-size: 35px;
        color: white !important;
    }
}